@import "variables";

@import "helpers";

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:400,700);

.container {
	width: 1100px!important;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 15px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}

h3 {
	font-weight: 600;
	margin-bottom: 30px;
	font-size: 20px;

	&.highlighted {
		color: #888;
		font-weight: 300;
		margin-top: 30px;
		font-size: 18px;
	}
}

h4 {
	font-weight: 300;
	margin-top: -10px;
	font-size: 25px;
}

h5 {
	font-weight: 700;
	margin: 30px 0;
	font-size: 16px;
	color: #555;
}

h2, h3, h4, h5 {
	text-transform: uppercase;
}

a {
	color: #555;

	&:hover {
		color: #222;
	}
}

p {
	&.urls{
		font-weight: 400;
		color: #276477;
		font-size: 18px;
	}
}

hr {
	border-color: #ccc;
}

#sidebar, #page {
	padding: 30px 0;
}

#sidebar {
	position: fixed;
	min-height: 700px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;

	ul {
		margin-top: 45px;
	}

	li {
		border-left: solid 6px #ccc;
		margin: 5px 0 0 0;

		&.featured {
			border-left: solid 6px #555;
		}
	}

	.download {
		border: solid 1px #ccc;
		margin-top: 30px;
		position: absolute;
		padding: 10px 20px 10px 50px;
		border-radius: 5px;
		background: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698975-icon-129-cloud-download-128.png');
		background-repeat: no-repeat;
		background-size: 15%;
		background-position: 10px center;


		&:hover {
			background-color: #f2f2f2;
			text-decoration: none;
		}
	}
}

#page {
	padding-left: 50px;
	border-left: solid 1px #ccc;
}

.well {
	width: 80%;
	padding: 20px;	
	border-left: solid 6px #555;
	background: #fefefe;
	border-radius: 0 5px 5px 0;
}

.types {
	padding: 30px 0;
	margin-bottom: 30px;

	&.instructions {
		
		.list-box {
			margin-top: 50px;
		}

		.list-type {
			border: solid 6px #555;
			padding: 5px 10px;
			border-radius: 100px;
			margin-right: 15px;
			font-weight: 900;
			color: #555;
			font-size: 17px;
		}

		.title {
			font-weight: 600;
			font-size: 17px;
			text-transform: uppercase;
		}

		p {
			margin: 5px 0 30px 60px;
		}
	}
}

.tabpanel li {
	&.active { 
		a {
			background-color: #fdfdfd;
			font-weight: 700;
		}
	}
}

pre {
	background-color: #fdfdfd!important;

	&.prettyprint {
		border-color: #ddd!important;
		border-top: none!important;
		border-radius: 0 0px 10px 10px;
		padding: 25px 45px 20px 45px!important;
	}

	&.introduction {
		border-top: solid 1px #ddd!important;
		border-radius: 10px;
		background-color: #fff!important;
		margin-top: 30px;
	}
}

















